*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
Data/Android
Data/AssetPack
Data/StandaloneWindows
Data/iOS
# Visual Studio Code
.vscode
Assets/database.bat

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj

# Build results
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
Library/
Temp/
StreamingAssets/
.vs/EN/v16/Browse.VC.db
Assets/Test.cs
Assets/Test.cs.meta
.idea/
Assets/Art.meta
Assets/SheetsByTP.meta
Assets/TexturePacker.meta
Assets/Plugins/x86.meta
/Assets/Plugins/x64.meta
Assets/Plugins/Android/libs/x86.meta
Assets/Plugins/WSA/x64.meta
Assets/Plugins/WSA/x86.meta
Assets/Third/XLua/Gen/link.xml
Packages/packages-lock.json
Assets/Plugins/Editor
Assets/Plugins/Editor.meta

Assets/Scripts/XFramework/Runtime/Log/LoggerConfig.meta
Assets/Scripts/XFramework/Runtime/Modular/Service/Input.meta
Assets/Scripts/XFramework/Runtime/Modular/Service/Input/Impl.meta
/Assets/DataConfig/LuaDebug.lua
/Assets/DataConfig/LuaDebug.lua.meta
Assets/Third/protobuf-net/bin.meta
Assets/Third/protobuf-net/obj.meta
Assets/ShowBounds.cs
Assets/ShowBounds.cs.meta
Assets/database.dat
Assets/database.dat.meta
Logs/*
Assets/Scripts/ScriptLua/game/Data/Table
Assets/Scripts/ScriptLua/game/Data/Table/*
Assets/Scripts/ScriptLua/game/Data/Table.meta
Assets/TUZCTUZV==
Assets/TUZCTUZV==.meta
/Assets/Scripts/ScriptLua/CustomEmmyLuaGenerate.meta
/Assets/Scripts/ScriptLua/CustomEmmyLuaGenerate/*
/Assets/Scripts/ScriptLua/CustomEmmyLuaGenerate
Assets/Resources/WwiseSoundbanksInfoCfg.txt
Assets/Resources/WwiseSoundbanksInfoCfg.txt.meta
Assets/database.db.meta
Assets/database.db
/Assets/AssemblyScripts.meta
/Assets/AssemblyScripts
Assets/TUZCTUZV==*
Assets/TUZCTUZV==*.meta
/IFixLog
Assets/Res/LuaTable
Assets/DataConfig/LogConfig.txt.meta
Assets/Res/WwiseCfg/WwiseSoundbanksInfoCfg.txt
Assets/Res/WwiseCfg/WwiseSoundbanksInfoCfg.txt.meta
Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
UserSettings/
*.sln
/Assets/.lpproj
/Assets/Res/Play
/.vs
